.portada{
    height: 300px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    text-shadow: rgba(0, 0, 0, 0.849) 0px 1px 10px;
    text-align: center;
}

.portada h3{
    color: white;
}




@media (max-width: 700px){

    .portada{
        height: 200px;
    }

    .portada h1{
        font-size: 1.3rem;
    }

    .portada h3{
        font-size: 0.8rem;
    }
  }