.contenedor {
    padding: 20px 10px;
  width: 98%;
  background-color: rgba(0, 0, 0, 0.226);
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow-y: hidden;
    overflow-x: scroll;
}

.contenedor::-webkit-scrollbar {
    height: 10px;
    background-color: #00000013;
    border-radius: 100px;
  }

.contenedor::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.459);
    border-radius: 100px;
    cursor: pointer;
  }

.miniatura{
height: 100px;
width: 100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.miniatura img{
height: 100px;
filter: hue-rotate(-10deg) brightness(0.7);
}

.miniatura p{
color: white;
font-size: 0.8rem;
}

