.slider{
    width: 90%;
    height: 350px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 20px;
    /*box-shadow: inset rgba(0, 0, 0, 0.39) 0px 3px 10px;*/
    }


.slider::-webkit-scrollbar {
        height: 9px;
        background-color: var(--sliderScrollbarBackgroundColor);
        border-radius: 10px;
      }
    
.slider::-webkit-scrollbar-thumb {
        background: #ffffff2a;;
        border-radius: 10px;
        cursor: pointer;
      }