.footer{
    height: 400px;
    width: 100%;
    padding: 10px;
    box-shadow: black 0px -2px 15px;
    z-index: 20;
    position: relative;
}

.contenido{
    width: 100%;
    height: 50%;
    display: flex;
}

.creditos{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 700;
}

.creditos img{
    height: 30px;
    filter: invert(1) opacity(0.6);

}

.box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconoMedia{
    margin: 7px;
    transition: 0.3s;
}

.iconoMedia:hover{
    color: #ffae00;
}

.contenedorPalmeras{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(10px);
    z-index: 0;
}

.palm1, .palm2, .palm3, .palm4, .palm5{
    
    position: absolute;
    bottom: 0;
    z-index: 0 ;
    transform-origin: bottom;
}

.palm1{
    transform: rotate(70deg);
    filter: hue-rotate(60deg) brightness(0.5);
    height: 200px;
}

.palm2{
    transform: rotate(35deg);
    filter: hue-rotate(60deg) brightness(0.7);
    height: 160px;
}

.palm3{
    transform: rotate(0deg);
    filter: hue-rotate(60deg) brightness(0.9);
    height: 180px;
}

.palm4{
    transform: rotate(-35deg);
    filter: hue-rotate(60deg) brightness(0.7);
    height: 160px;
}

.palm5{
    transform: rotate(-70deg);
    filter: hue-rotate(60deg) brightness(0.5);
    height: 200px;
}