@tailwind base;
@tailwind components;
@tailwind utilities;

/* configuracion general */

@font-face {
  font-family: 'MiFuente';
  src: url('/7Auwp_0qiz-afTLGLQ.woff2') format('woff2');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MiFuente', sans-serif !important;
    letter-spacing: 0.7px;

}

:root {
  --titulosLight: #ffffff;
  --hoverBackgroundLight: #7184c26c;
  --backgroundLight: #b4c1ce;
  --grisLight: #e7e7e7;
  --grisClaroLight: #26272e; 
  --azulLight:rgb(40, 99, 226);
  --amarilloLight: rgb(255, 196, 0);
  --textosLight: rgb(27, 27, 27);

  --menuTextoLight: rgb(218, 218, 218);
  --menuBackgroundLight: #192446;
  --sucheLigth: #ffae00;
  --avtiveMenuLight:  #ffae00;
  --iconsLight: #ffae00;


  



  --hoverBackgroundDark: #878c9c;
  --backgroundDark: #22252c;
  --grisOscuroDark: #cccccc;
  --grisClaroDark: #26272e; 
  --negroDark: #f1f1f1;
  --blancoDark: rgb(255, 255, 255); 
  --azulDark:rgb(40, 99, 226);
  --amarilloDark: rgb(255, 196, 0);
  --textosDark: rgb(255, 233, 205);
 
  --iconsDark: #ffae00;



  --TituloH1: 3.5rem; 

  --TextoNormal: 1.1rem;
  --textoNormalMargin: 10px 0;
  --textoNormallineHeight: 30px;
  --textoNormallineSpacing: 0.5px;

  --tituloInformacinoH4: 1.5rem;
  --tituloInformacinoH4: 1.5rem;
  --tituloInformacinoH4: 1.5rem;
  

  --subtitulo: 1.2rem;
  --subtituloMarginTop: 20px;
  --subTituloDark: #7fadd8;
  --subTituloLight: #002ba0;


  --sliderScrollbarColor: var(--hoverBackgroundLight);
  --sliderScrollbarBackgroundColor: #0000000c;
  --sliderScrollbarHeight: 8px;
}



main{
  min-height: 90vh;
  overflow-x: hidden;
  background-color: rgb(136, 157, 189);
  padding: 100px 10%;
}

body{
  overflow-x: hidden;
}


/* Estilos de letra estrictos*/



/*  Azul oscuro  */
.fondoAzulOscuro{
    background-color: #192446;
}
.colorAzulOscuro{
  color: #192446;
}

/*  Gris Claro  */
.fondoGrisClaro{
  background-color: #b5b9c9;
}
.colorGrisClaro{
    color: #b5b9c9;
}

/*  Celeste  */
.fondoCeleste{
  background-color: #b4c1ce;
}
.colorCeleste{
  color: #b4c1ce;
}

/*  amarillo  */
.fondoAmarillo{
  background-color: #ffae00;
}
.colorAmarillo{
  color: #ffae00;
}


h1{
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

h2{
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

h3{
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

p{
  font-size: 1.02rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}





@media (min-width: 1024px){
  main{
    padding: 100px 24%;
  }
}




@media (max-width: 1024px) and (min-width: 700px){
  main{
    padding: 100px 8%;
  }
}






@media (max-width: 700px){
  main{
    padding: 100px 40px;
  }
}