.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menuDesktop, .header{
    height: 75px;
}

.menuDesktop{
    box-shadow: black 0px 2px 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
}



.logo{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 100%;
}

.menuDesktopNav ul{
    display: flex;
    justify-content: space-between;
    width: max-content;
}

.menuDesktopNav ul li{
    flex-wrap: nowrap;
}
.menuDesktopNav a, .menuMovilNav a{
    text-decoration: none;
    margin: 0 10px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.menuDesktopNav{
    margin: 0 20px;
}

.icon{
    margin-right: 8px;
}


.menuMobilIcon{
    display: none;
}

.themeSwitcher{
    background-color: blanchedalmond;
    height: 30px;
    width: 60px;
    border-radius: 100px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.705);
    display: flex;
    align-items: center;
}

.toggle{
    height: 28px;
    aspect-ratio: 1/1;
    background-color: #192446;
    border-radius: 100px;
    margin-left: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Menu movil solo visible en celulares */

.menuMobil{
    display: none;
}

.menuMobil ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}








/* Path: src/componentes/header/header.js */



@media (max-width: 768px){
    .menuMobilIcon{
        display: block;
        margin: 0 40px;
        cursor: pointer;
    }

    .menuMobil{
        display: block;
        position: absolute;
        top: 70px;
        width: 100%;
        height: 500px;
        background-color: #272e42;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: 1s;
        transform: translateY(-500px);
    }

    .menuMovilNav li{
        margin: 15px 0;
    }

    .menuDesktopNav{
        display: none;
    }
    
}

