.contenedor{
padding: 5px;
height: 300px;
width: 100%;
border-radius: 10px;
overflow: hidden;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.contenedor h1{
position: relative;
z-index: 1;
text-shadow: black 1px 1px 5px;
text-align: center;
}

.contenedor img{
position: absolute;
top: 0;
}



@media (max-width: 768px){
    .contenedor img{
        height: 120%;
        min-width: 600px;
    }

    .contenedor h1{
        font-size: 1.5rem;
    }
  }